@model PagedList.IPagedList<MembershipUser>
@{
    var rolesEnabled = Roles.Enabled;
    ViewBag.Title = "Users management";    
}
<div style="margin-bottom: 10px;">
    <a href="@Url.Action("Create")" class="btn btn-success">
        <i class="icon-white icon-plus-sign"></i><span>&nbsp;Create new user</span>
    </a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username
            </th>
            <th>Email
            </th>
            @if (rolesEnabled)
            {
                <th>Roles</th>
            }
            <th>Creation date</th>
            <th>Last login date</th>
            <th>Last activity date</th>
            <th>Is approved</th>
            <th>Is locked out</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.UserName
                </td>
                <td><a href="mailto:@m.Email">@m.Email</a>
                </td>
                @if (rolesEnabled)
                {
                    <td>@string.Join(", ", Roles.GetRolesForUser(m.UserName))</td>
                }
                <td>@m.CreationDate.ToShortDateString()</td>
                <td>@m.LastLoginDate.ToShortDateString()</td>
                <td>@m.LastActivityDate.ToShortDateString()</td>
                <td style="text-align: center;">
                    @if (m.IsApproved)
                    {
                        <i class="icon-check"></i>
                    }
                </td>
                <td style="text-align: center;">
                    @if (m.IsLockedOut)
                    {
                        <i class="icon-check"></i>
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn" href="@Url.Action("Edit", new { id=m.UserName })">
                            <i class="icon-edit"></i>&nbsp;Edit
                        </a>
                        <a href="@Url.Action("Delete")" class="btn btn-danger">
                            <i class="icon-trash icon-white"></i>&nbsp;Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align: center;">
    @PagedList.Mvc.HtmlHelper.PagedListPager(Html, Model, i => Url.Action("Index", new { page = i }))
</div>
