@model IndexViewModel
@{
    ViewBag.Title = "Databases list";

    var roles = Roles.GetRolesForUser();
}

<div class="userbox">
    <i class="icon-user"></i>&nbsp;@User.Identity.Name
    @if (roles.Any())
    {
        <text>(@string.Join(", ", roles))</text>        
    }
</div>
<table class="table table-bordered table-striped table-vmiddle">
    <thead>
        <tr>
            <th>Id</th>
            <th>Database name</th>
            <th style="width: 70px;"></th>
        </tr>
    </thead>
    <tbody id="backups-container">
        @if (Model.DatabaseInfo.Any())
        {
            foreach (var di in Model.DatabaseInfo)
            {
            <tr>
                <td>@di.Id</td>
                <td>@di.Name</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Schema", new { id = di.Name })" class="btn">
                            <i class="icon-eye-open"></i><span>&nbsp;Schema</span>
                        </a>
                        <a class="btn btn-inverse backup-do" href="@Url.Action("Backup", new { id=di.Name })">
                            <i class="icon-white icon-download"></i><span>&nbsp;Backup</span>
                        </a>
                    </div>
                </td>
            </tr>
            }
        }
        else
        {
            <tr class="no-row">
                <td colspan="3">
                    <i>No available database for backup</i>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <h4>Backups</h4>
    <table class="table table-bordered table-striped table-vmiddle">
        <thead>
            <tr>
                <th>#</th>
                <th>Database</th>
                <th>User</th>
                <th>Expiration</th>
                <th style="width: 30px;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Backups.Any())
            {
                foreach (var b in Model.Backups)
                {
                @Html.Partial("_BackupItem", b)
                }
            }
            else
            {
                <tr>
                    <td style="text-align: center;" colspan="5"><i>No available database backup</i></td>
                </tr>
            }
        </tbody>
        @if (User.IsInRole("Admin") && Model.Backups.Any())
        {
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a id="backup-purge" href="@Url.Action("BackupsPurge")" onclick="return false;" class="btn btn-danger">
                            <i class="icon-warning-sign icon-white"></i><span>&nbsp;Purge</span>
                        </a>
                    </td>
                </tr>
            </tfoot>
        }
    </table>
</div>
<div class="loading modal fade in">
    <table>
        <tr>
            <td>
                <div class="pldr"></div>
            </td>
            <td>
                <div class="message"></div>
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-aft", style = "display:none;" }))
{
    @Html.AntiForgeryToken()
}
