@model IEnumerable<SchemaInfo>

@{
    ViewBag.Title = string.Format(__("Schema of {0}"), ViewBag.Database);
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@_("Table")</th>
            <th>@_("Column")</th>
            <th>@_("Data type")</th>
            <th>@_("Row count")</th>
        </tr>
    </thead>
    @foreach (var t in Model.GroupBy(tt => tt.Table))
    {
        var cols = t.ToList();
        var f = cols.First();
        <tr>
            <td class="fullcenter" rowspan="@cols.Count">
                <strong>@t.Key</strong>
            </td>
            <td class="fullcenter" rowspan="@cols.Count">@f.RowCount</td>
            <td>@f.Column</td>
            <td>@f.Type (@f.LengthString)</td>

        </tr>
        foreach (var c in cols.Skip(1))
        {
        <tr>
            <td>@c.Column</td>
            <td>@c.Type (@c.LengthString)</td>
        </tr>
        }
    }

</table>
