@using SQLServerBackupTool.Lib.Versioning
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLServer Backup Tool @(!string.IsNullOrWhiteSpace(ViewBag.Title) ? " - " + ViewBag.Title : null)</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="~/Content/img/favicon.png" />
</head>
<body>
    <div id="wrap">
        <div class="container-fluid">
            <div id="top-bar">
                <ul id="nav" class="nav nav-pills pull-right">
                    <li class="@(ViewBag.ControllerName == "Home" ? "active" : null)">
                        <a href="@Url.Action("Index", "Home")"><i class="icon-home"></i>&nbsp;@_("Home")</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@(ViewBag.ControllerName == "Users" ? "active" : null)">
                            <a href="@Url.Action("Index", "Users")"><i class="icon-user"></i>&nbsp;@_("Users")</a>
                        </li>
                    }
                </ul>
                <h1>
                    <span class="ss">SS</span>BT<span class="purple">.web</span> - <span class="title">@ViewBag.Title</span>
                </h1>
            </div>
            @Html.RenderFlashMessages()
            @RenderBody()
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div>
            @_("Baked with love by") <a target="_blank" href="http://www.moonpyk.net">@@moonpyk</a> - ssbt.web | v@(VersionInfo.Version) (@VersionInfo.InformalVersion)
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/ssbtw")
    @RenderSection("scripts", false)
</body>
</html>
